.chat {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: white;
}

.chat-container {
  flex-grow: 1;

  background-color: white;
}
.chat-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.chat-area header.chat-header {
  display: flex;
  padding: 15px 2rem;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $grey;
  .title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .chat-members {
    position: relative;
    height: 100%;
    width: 10rem;
    .member {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }
}

.chat-area .chat-content {
  flex-grow: 1;

  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .message {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: white;
    width: fit-content;
    color: $black;
    border-radius: $basic_radius;
    &.me {
      background-color: $primary;
      color: white;
      align-self: flex-end;
    }

    .sender {
      // margin-bottom: 0.1rem;
      font-size: 0.7rem;
      font-weight: 300;
    }
  }
}

.chat-area .chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: $basic_radius;
  margin: 1rem;
  padding: 0.5rem;
  textarea {
    overflow: hidden;
    margin-left: 1rem;
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    resize: none;
    &::placeholder {
      color: $dark_grey;
    }
  }

  .send-button {
    align-self: flex-start;
    font-size: 1rem;
    aspect-ratio: 1/1;
    width: 2rem;
    display: grid;
    justify-content: center;
    border-radius: $basic_radius;
    background-color: $primary;
    border: none;
    outline: none;
    color: white;
  }
}
