.input-container {
  width: 100%;
  padding: 0 12px;
  background-color: $grey;
  border-radius: $basic_radius;
  display: flex;
  align-items: center;
  height: 50px;
  img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }
  input {
    flex: 1;
    display: block;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 1rem;
    color: white;
  }
  ::placeholder {
    font-weight: 600 !important;
    color: $light_grey;
  }
  // &.secondary {
  //   background-color: $grey;
  //   ::placeholder {
  //     color: $dark_grey;
  //   }
  //   color: $black;
  //   outline: none;
  // }
}

.btn {
  height: 50px;
  padding: $basic_padding;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  border-radius: $basic_radius;
  width: 100%;

  &.primary {
    background-color: $grey;
    color: $extra_light_grey;
    border: none;
    outline: none;
  }
  &.secondary {
    background-color: $background;
    color: $extra_light_grey;
    border: 1px solid $light_border;
  }

  .icon {
    margin-right: 8px;
  }

  &.icon-button {
    padding: 0;
    background-color: white;
    border: none;
    color: $black;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px 0px $grey;
    & > .icon {
      color: $primary;
      font-size: 1rem;
      border-right: 1px solid $white;
      padding: 1.1rem;
      margin-right: 2.5rem;
    }
  }
  &.plain {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  &.circle {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    padding: 0;
    text-align: center;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);

  &.open {
    display: flex;
  }

  &.close {
    display: none;
  }

  .content {
    background-color: $background;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    min-height: fit-content;
    border-radius: $basic_radius;
    box-shadow: 0 0 4px 2px rgba($color: #000000, $alpha: 0.25);
    color: $black;
    .header {
      padding: $basic_padding;
      display: flex;
      justify-content: space-between;
      font-size: 1.3rem;
      color: white;
      align-items: center;
      h3 {
        text-transform: capitalize;
        flex: 1;
        font-weight: 500;
      }
    }
    .border {
      display: block;
      width: 80%;
      height: 2px;
      background-color: $grey;  
    }
    
    .body {
      padding: $basic_padding;
      flex: 1;
    }
  }
}

.form-control {
  width: 100%;
  form > * {
    margin-bottom: 1rem;
  }

  .form-error {
    color: $error;
    font-size: 0.9rem;
    li {
      margin-bottom: 0.2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}