.sidenav {
  padding: 10px;
  display: flex;
  background-color: $grey;
  border-right: 1px solid $grey;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .menu {
    & > li {
      margin-bottom: 0.8rem;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }

      img {
        padding: 13px;
        border-radius: $basic_radius;
        transition: all ease-in-out 250ms;

        &:hover {
          background-color: $background;
        }
        &.active {
          background-color: $background;
        }
      }
    }
  }

  .profile {
    background-color: white;
    border-radius: $basic_radius;
    width: 50px;
    height: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
