.sidebar {
  width: 350px;
  height: 100%;
  background-color: $white;
  padding: 15px;

  .search {
    margin-bottom: 15px;

    .input-container img {
      width: 28px;
      height: 28px;
    }
  }
}

.sidebar__contact {
  height: 65px;
  border-radius: $basic_radius;
  background-color: $grey;
  margin: 0.8rem 0;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .profile {
    border-radius: $basic_radius;
    background-color: white;
    width: 45px;
    height: 45px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 10px;
  }

  transition: all 250ms ease-in-out;
  &:hover {
    background-color: $dark_grey;
  }

  &.active {
    background-color: $dark_grey;
  }

  .info {
    flex: 1;
    // padding: 10px 0;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 1rem;
        font-weight: 500;
        color: white;
        text-transform: capitalize;
      }

      .time {
        color: #838383;
        font-size: 0.7rem;
      }
    }
    .last-message {
      margin-top: 0.35rem;
      font-size: 0.8rem;
      font-weight: 500;
      color: $light_grey;
    }
  }
}
