.sidebar {
  width: 350px;
  height: 100%;

  .self {
    height: 70px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;

    .avatar {
      position: relative;
    }

    .text {
      flex: 1;
      margin-left: 1rem;
      h1.name {
        font-weight: 600;
        font-size: 0.8rem;
      }
      h4.time {
        font-weight: 600;
        font-size: 0.8rem;
        color: $dark_grey;
      }
    }
  }

  .title {
    font-weight: 600;
    font-size: 2rem;
    color: $black;
  }

  .more {
    display: flex;
    .search {
      margin-left: 0.5rem;
      color: $dark_grey;
    }
  }
}

.sidebar__search {
  margin: 1rem 0;
}

.sidebar__contact {
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: $light_grey;
  }

  &.active {
    background-color: $white;
  }
}

.sidebar__contact-info {
  display: flex;
  align-items: center;
  .name {
    font-weight: 600;
    font-size: 1rem;
    color: $black;
    margin-left: 1rem;
    text-transform: capitalize;
  }
}
