$primary: #3c5cff;
$primary_outline: #3c5cff8f;
$white: #f4f3f8;
$light_grey: #efefef71;
$grey: #e6e5ea;
$dark_grey: #cbcbd0;
$black: #292a30;
$error: #cc0000;
$basic_radius: 7px;
$basic_padding: 0.7rem 1.2rem;
