$primary: #3c5cff;
$primary_outline: #3c5cff8f;
$background: #2C2C2C;
$light_border: #4B4B4B;
$white: #ffffff;

$extra_light_grey: #cccccc;
$light_grey: #666666;
$grey: #1E1E1E;
$dark_grey: #111013;
$black: #292a30;
$error: #cc0000;
$basic_radius: 8px;
$basic_padding: 14px;
