$primary: #3C5CFF;
$primary_outline: #3c5cff8f;
$white: #F4F3F8;
$light_grey: #efefef71;
$grey: #E6E5EA;
$dark_grey: #CBCBD0;
$black: #292A30;
$error: #cc0000;
$basic_radius: 7px;
$basic_padding: 0.7rem 1.2rem;
