@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600&display=swap');
@import 'variables';
@import 'reset';
@import 'utils';
@import 'core';
@import 'menu';
@import 'nav';
* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: medium;
}

@import 'login';
@import 'chat';
@import 'sidebar';
.tag-demo {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  color: $primary;
}
